<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.gvnn.slackcast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SlackCastApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Slackcast">
        <meta-data
            android:name="android.app.default_searchable"
            android:value="it.gvnn.slackcast.SearchActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.gvnn.slackcast.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".PodcastActivity"
            android:label="@string/title_activity_podcast">
            <intent-filter>
                <action android:name="it.gvnn.slackcast.PODCAST_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EpisodeActivity"
            android:label="@string/title_activity_episode">
            <intent-filter>
                <action android:name="it.gvnn.slackcast.EPISODE_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="it.gvnn.slackcast.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="it.gvnn.slackcast.entities.Podcast, it.gvnn.slackcast.entities.Episode" />

    </application>

</manifest>
